/* #cc0605 COULEUR SFR*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins_Bold';
  margin: 0;
  height: 100%;
}

.contenu{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  justify-content: space-between;
}

.Txt{
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(82, 82, 82);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 19%;
  width: 170px;
  height: 170px;
  bottom: -170px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 37%;
  width: 70px;
  height: 70px;
  bottom: -70px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 48%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 9s;
}
.background li:nth-child(3) {
  left: 23%;
  width: 194px;
  height: 194px;
  bottom: -194px;
  animation-delay: 11s;
}
.background li:nth-child(4) {
  left: 82%;
  width: 198px;
  height: 198px;
  bottom: -198px;
  animation-delay: 6s;
}
.background li:nth-child(5) {
  left: 45%;
  width: 69px;
  height: 69px;
  bottom: -69px;
  animation-delay: 22s;
}
.background li:nth-child(6) {
  left: 80%;
  width: 127px;
  height: 127px;
  bottom: -127px;
  animation-delay: 13s;
}
.background li:nth-child(7) {
  left: 47%;
  width: 62px;
  height: 62px;
  bottom: -62px;
  animation-delay: 17s;
}
.background li:nth-child(8) {
  left: 84%;
  width: 167px;
  height: 167px;
  bottom: -167px;
  animation-delay: 39s;
}
.background li:nth-child(9) {
  left: 13%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation-delay: 16s;
}

#home {
  display: flex;
  justify-content: space-between;
  background: url("../images/fond.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: relative; 
  height: 100vh; 
  flex-wrap: wrap;

} 

#home-page2 {
  display: flex;
  justify-content: space-between;
  background-color: #f71d1d;
  /*background: url("../images/fond.jpeg");*/
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: relative; 
  height: 100vh; 
  flex-wrap: wrap;
}
#home-page2 h1{
  font-family: 'Cabin';
  color:white;
  font-size: 7rem;
}
.titre-page2 {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  height: 100vh;           /* Prend toute la hauteur de la fenêtre */
  width: 100vw;            /* Prend toute la largeur de la fenêtre */
}


h1 {
  text-align: center;
}


#home2-page2 ul{
  width: min(60rem, 90%);

}

/* line */
#ul1::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
#ul1 li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
#ul1 li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
#ul1 li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
#ul1 li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
#ul1 li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
#ul1 li .title,
#ul1 li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
#ul1 li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
#ul1 li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
#ul1 li .title::before,
#ul1 li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
#ul1 li .title::before {
  bottom: calc(100% + 0.125rem);
}

#ul1 li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  #ul1 {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  #ul1::before {
    grid-column: 2;
  }
  #ul1 li:nth-child(odd) {
    grid-column: 1;
  }
  #ul1 li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  #ul1 li:nth-child(2) {
    grid-row: 2/4;
  }

  #ul1 li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  #ul1 li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  #ul1 li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

#home-2 {
  background-color: aliceblue;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: relative; 
  height: 100vh; 
} 

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


.home-content {
  color: white;
  max-width: 50%;
}
.home-content p{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  font-size: 0.9rem; /* Grand titre */
  left: 20%;
  bottom: 47%;
  font-weight: bold;
  font-family: 'Barlow';
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre noire avec un flou de 5px */
}


.home-content h1 {
  position: absolute;
  font-size: 15rem; /* Grand titre */
  left: 20%;
  bottom: 50%;
  font-weight: bold;
  font-family: 'Barlow';
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre noire avec un flou de 5px */

}

.home-content h2 {
  position: absolute;
  font-size: 2rem;
  font-family: 'Cabin';
  bottom: 50%;
  left: 20%;
}


.content-box p {
  bottom: 43%;
  color: white; /* Couleur du texte */
  font-size: 0.9rem; /* Taille du texte */
}


.home-image img {
  position: absolute;
  max-width: 45%; /* Adapte la taille de l'image */
  height: auto;
  top:0%;
  left: 40%;
}


.home-button {
  font-family: 'Cabin';
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap:20px;
  bottom:40%;
  left:20%;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: white;
  color: ghostwhite;
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: #cc0605;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: #cc0605;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
 

@font-face {
  font-family: 'Poppins_Bold';
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow-Bold.ttf) format(truetype);
}
@font-face {
  font-family: "Cabin";
  src: url(../fonts/Cabin-Bold.ttf) format(truetype);
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/HelveticaNeueLTPro-BlkCn.otf) format(opentype);
}

nav.scrolled {
  background-color: red;
 width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;

}


/* Sidenav menu */
nav {
  transition: background-color 0.3s ease;

    width: 100%;
    position: fixed;
    top: 0;
    width: 100%; /* S'étend sur toute la largeur */
    z-index: 1000; /* S'assure qu'elle reste au-dessus des autres éléments */
    
}

#mySidenav{
  font-family: 'Poppins_Bold';
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e60000;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 0.8%;
  }

  #openBtn span:hover {
    background-color: #e60000;
  }
  .burger-icon:hover span:nth-child(1) {
    background-color: #e60000;
}

.burger-icon:hover span:nth-child(2) {
    background-color: #e60000;
}

.burger-icon:hover span:nth-child(3) {
    background-color: #e60000;
}



/* ZOOM 140% */ 
@media (max-width: 1200px) {
#home {
  flex-direction: column; /* Les éléments vont s'empiler verticalement */
  text-align: center;
}
.navbar ul li a {
    font-size: 16px; /* Réduction de la taille de police */
}
.navbar ul li {
  margin: 0 10px; /* Ajuste l'espacement entre les éléments */
}
.home-content h1 {
  font-size: 10rem;
}

.home-content h2 {
 font-size: 1rem;
}
.home-button button{
  padding: 12px 12px 12px 12px;
  font-size: 12px;
  border-radius: 50px;
}
}

/* ZOOM 180% */ 
@media (max-width: 900px) {
.navbar ul li a {
  font-size: 14px; /* Réduction de la taille de police */
}
.navbar ul li {
margin: 0 6px; /* Ajuste l'espacement entre les éléments */
}
.home-image img {
max-width: 45%;
}

.home-content h1 {
font-size: 6.1rem;
}

.home-content h2 {
font-size: 0.8rem;
}

.home-button button{
padding: 5px 5px 5px 5px;
font-size: 5px ;
border-radius: 50px;
}

}

/*FOOTER*/
footer{
font-family: 'Poppins_Bold';
margin-top: 250px;
background: #cc0605;
color: white;
position: relative;
width: 100%;
}
footer img{
width: 250px;
margin-top: 43px;
}
footer iframe{
height: 250px;
width: 250px;
margin-top: 43px;
}
footer span{
margin-top: 25px;
}
footer h6{
color: #ffffff;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
margin-bottom: 15px;
margin-top: 50px;
}
footer .col-3{
padding-left: 35px;
}
footer a{
text-decoration: none;
transition: 0.5s;
color: white;
}
footer a:hover{
color: #f5871f;
}
footer .fa-whatsapp{
margin-right: 5px;
}
.copyright{
color: #ffffff;
font-size: 16px;
font-weight: 500;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
height: 45px;
background-color: #cc0605;
padding-top: 15px;
}
.footer-container{
display: flex;
justify-content: center;
}
.social {
display: flex;
align-items: center;
margin-top: 13px;
padding-left: 5px;
}
.social i {
color: #fff;
font-size: 17px;
margin-right: 15px;
}
@media only screen and (max-width: 600px) {
footer .col-3{
 padding-left:0;
}
.footer-container{
  flex-direction: column;
}
.footer-container .col-3{
  width: 100% !important;
}
.copyright {
    font-size: 11px;
}
}
 

/* PARTIE FORMAT TELEPHONE */


/* ZOOM 260% */ 
@media (max-width: 600px) {
.navbar ul li a {
  font-size: 12px; /* Réduction de la taille de police */
}
.navbar ul li {
margin: 0 4px; /* Ajuste l'espacement entre les éléments */
}
.home-image img {
max-width: 40%;
left:50%;
}
.home-content h1 {
font-size: 5rem;
}

.home-content h2 {
font-size: 0.7rem;
}
}

/* ZOOM 300% */ 
@media (max-width: 550px) {
.navbar ul li a {
  font-size: 7px; /* Réduction de la taille de police */
}
.navbar ul li {
margin: 0 3px; /* Ajuste l'espacement entre les éléments */
}
.home-content h1 {
font-size: 3.5rem;
}

.home-content h2 {
font-size: 0.6rem;
}
}

/* ZOOM 450% */ 
@media (max-width: 350px) {
.navbar ul li a {
  font-size: 5px; /* Réduction de la taille de police */
}
.navbar ul li {
margin: 0 2px; /* Ajuste l'espacement entre les éléments */
}
}

@media screen and (max-width: 768px) {
#home {
  display: flex;
  flex-wrap: wrap;
}

.home-content {
  max-width: 100%;
  margin-bottom: 20px;
}

.home-content h1 {
  font-size: 2rem;
}

.home-content h2 {
 font-size: 0.4rem;
}
}


.bouton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000; 
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 40%;
  margin-right: 40%;
}


.bouton:hover {
  background-color: #b80000; 
  transform: translateY(-3px); 
}

/* Style de base pour le texte */
.Txt {
  color: black; /* Couleur initiale */
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

/* Changement de couleur lorsqu'on passe la souris */
.Txt:hover {
  background-color: rgb(225, 225, 225); /* Couleur au survol */
}

.image {
  width: 500px; /* Largeur de l'image au départ */
  height: 400px; /* Hauteur de l'image au départ */
  overflow: hidden; /* Cache l'excédent lors de l'agrandissement */
  transition: width 0.3s ease, height 0.3s ease; /* Transition pour agrandir */
  margin-left: 30%;
  margin-right: 30%;
}

.image-hover {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image reste bien cadrée */
}

.image:hover {
  width: 600px; /* Nouvelle largeur au survol */
  height: 500px; /* Nouvelle hauteur au survol */
}

.rapport {
  margin-left: 25%;
  margin-right: 25%;
}