@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* SCROLL*/
html, body, section {
    block-size: 100%;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    
  
  }
  
  section:nth-of-type(even) {
    color: white;
   
  }
  
  section:nth-of-type(odd) {
    color: rgb(255, 255, 255);
    position: relative;
   
  }
  
  body {
    margin: 0;
   
    font-size: 4rem;
  }
  
  /* SCROLL*/
  


 
 /*background*/

 .slide1 { background-color: #cd1e1e; } /* Bleu clair */
 .slide2 { background-color: #ffefd5; } /* Beige */
 .slide3 { background-color: #ce2a2a; } /* Lavande */
 .slide4 { background-color: #f5f5dc; } /* Crème */
 .slide5 { background-color: #ffffff; } /* Rose pâle */

 
 @keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #dddde0;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(243, 3, 3, 0.412);
  animation: animate 14s linear infinite;
}




.background li:nth-child(0) {
  left: 19%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 87%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 57%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 18%;
  width: 183px;
  height: 183px;
  bottom: -183px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 56%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 18s;
}
.background li:nth-child(5) {
  left: 57%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 52%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 13s;
}
.background li:nth-child(7) {
  left: 89%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 13s;
}
.background li:nth-child(8) {
  left: 45%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 19s;
}
.background li:nth-child(9) {
  left: 4%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 14s;
}

 




 /*background*/



  /* Ma partie*/
  

  
  
  
  
  
  .slide1>h1{
  
    scale: 1.6;
    display: flex;
    margin-left: 200px;
    margin-top: 14%;
    color: rgb(243, 240, 240);
    

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border-radius: 20px;
  }
  
  .slide1>ul{
    margin-left: -17%;
margin-top: 5%;
   position: absolute;
    scale: 0.4;

  }

li>a{
color: black;
margin-bottom: 30px;
}


.slide1>img{
  position: relative;
margin-top: 100px;
  margin-left: 20%;
margin-bottom: -10px;
}





/* HOVER POUR LA LISTE SLIDE 1 */

.home-button {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  gap:20px;
  bottom:40%;
  left:20%;
 
  
}

a.button {
  scale: 3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
margin-left: 500px;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: rgb(224, 221, 221);
  color: rgb(0, 0, 0);
  display: flex; /* Permet un alignement flexible des éléments enfants */
    justify-content: flex-start; /* Alignement à gauche */
    border: solid;
  
  
 }


 

/* HOVER POUR LA LISTE SLIDE 1 */










  
  
  
  
  .slide2>h3{
    margin-top: 15%;
    color: rgb(15, 14, 14);
  margin-left: 55%;
  position: absolute;
  text-align: center;
 
  }
  .slide2>h4{
  
    text-align: center;
    scale: 0.5;
   position:absolute;
    margin-right: 40%;
    margin-top: 6%;
    color: rgb(34, 33, 33);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
 

  .slide2>img{
    position: absolute;
    scale: 0.3;
    margin-left: 5%;
    margin-top: 14%;
    border: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 30px;
    transform: scale(1);
    transition: transform 1s, scale 0.5s ease-in-out; /* Transition pour scale */
  }

  .slide2>img:hover {
    scale: 0.6;
    transform: translate(0, -300px);
    transition: all .3s ease-out;
  }

 


  
 
  
  
  .slide3>h3{
    margin-top: 20%;
    color: rgb(247, 240, 240);
  margin-right: 40%;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  
  }
  .slide3>h4{
    border: solid;
    text-align: center;
    scale: 0.5;
    margin-top: 10%;
    position: absolute;
    margin-left: 45%;
    color: rgb(241, 236, 236);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    
  }
  
  
  
  
  .slide4>h3{
    margin-top: 22%;
    color: rgb(19, 18, 18);
  margin-left: 60%;
  display: flex;
  text-align: center;
  scale: 1.2;
  }
  .slide4>h4{
  
    text-align: center;
    scale: 0.6;
    margin-top: 8%;
    position: absolute;
    margin-right: 40%;
    color: rgb(14, 14, 14);
  }



  /* CSS FICHES IPHONE*/


.fiches {
  
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, minmax(350px, 200px));

 scale: 0.8;
position: absolute;
margin-right: 25%;
margin-top: 23%;
  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    margin: 50px 30px;
  }
}

.carte {

  border-radius: 30px;
  position: relative;
  padding: 10px;
  background: white;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
  transform: scale(1);
  transition: transform 0.5s, opacity 3s;
  

.contenu-carte {
    .prix {
      width: calc(100% - 40px);
      position: absolute;
      margin-top: 190px;
      padding: 20px;
      scale: 0.4;
      left: 0;
      color: black;
      text-align: center;
    }

   
    justify-content: center;
    align-items: center;
    width: 100%;

    .img {
      width: 100%;
      justify-content: bottom;
      align-content: bottom;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 220px;
      }
    }
  }
  .description {
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    width: calc(100%-20px);
    .title {
      text-transform: uppercase;
      text-align: left;
    }
    
  }
  .footer-carte {
   
    padding: 0.3em;
    border-top: 0.5px solid #ececec;
    font-size: 11px;
    color: rgb(0, 0, 0);
    justify-items: left;
    align-items: center;
    display: flex;
    .bas {
      margin: 5px;
      width: auto;
      background: #dedede;
      padding: 4px 7px;
      border-radius: 2px;
      font-weight: 100;
      cursor: pointer;
     
    }
  }
  &:hover {
    transition: 0.2s ease-in;
    transform: translateY(-40px);
    transform: scale(1.2);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
  }
}



 /* CSS FICHES IPHONE */


  
  .slide5>h3{
    margin-top: 250px;
    color: rgb(19, 18, 18);
  margin-left: 175px;
  display: flex;
  }
  
  
  
  
  
  /* Ma partie*/
  
  
  
 
  
  #home {
      display: flex;
      justify-content: space-between;
      background: url("../images/background.jpg");
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: relative; 
      height: 100vh; 
      flex-wrap: wrap;
    } 
  
  #home-other{
    display: flex;
      justify-content: space-between;
      background: url("");
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: relative; 
      height: 100vh; 
      flex-wrap: wrap;
  }
  
  #home-2 {
      background-color: aliceblue;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: relative; 
      height: 100vh; 
  } 
  
  body, html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }
  
    
    .home-content {
      color: white;
      max-width: 50%;
    }
    .home-content p{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      font-size: 0.9rem; /* Grand titre */
      left: 20%;
      bottom: 47%;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre noire avec un flou de 5px */
    }
    .home-content-other {
      display: flex;
      justify-content: center; /* Centre horizontalement */
      align-items: center;     /* Centre verticalement */
      height: 100vh;           /* Prend toute la hauteur de la page */
      width: 100vw;            /* Prend toute la largeur de la page */
      position: relative;      /* Assure que l'élément prend tout l'espace */
    }
    
    .home-content-other h1 {
      color: white;
      font-size: 10rem;
      margin: 0; /* Enlève tout éventuel margin qui pourrait affecter le centrage */
      text-align: center; /* Si le texte lui-même doit être centré */
    }
    
    
    
    .home-content h1 {
      position: absolute;
      font-size: 15rem; /* Grand titre */
      left: 20%;
      bottom: 50%;
      font-weight: bold;
      font-family: 'Barlow';
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre noire avec un flou de 5px */
  
    }
  
    .home-content h2 {
      position: absolute;
      font-size: 2rem;
      font-family: 'Cabin';
      bottom: 50%;
      left: 20%;
    }
    
  
    .content-box p {
      bottom: 43%;
      color: white; /* Couleur du texte */
      font-size: 0.9rem; /* Taille du texte */
    }
    
  
    .home-image img {
      position: absolute;
      max-width: 45%; /* Adapte la taille de l'image */
      height: auto;
      top:0%;
      left: 40%;
    }
    
  
    .home-button {
      font-family: 'Cabin';
      position: absolute;
      display: flex;
      justify-content: space-around;
      gap:20px;
      bottom:40%;
      left:20%;
    }
  
    button {
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0.9rem 2rem;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-block;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      overflow: hidden;
      background: white;
      color: ghostwhite;
     }
     
     button span {
      position: relative;
      z-index: 10;
      transition: color 0.4s;
     }
     
     button:hover span {
      color: #cc0605;
     }
     
     button::before,
     button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
     }
     
     button::before {
      content: "";
      background: #cc0605;
      width: 120%;
      left: -10%;
      transform: skew(30deg);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
     }
     
     button:hover::before {
      transform: translate3d(100%, 0, 0);
     }
     
     
    
  
  @font-face {
      font-family: "Barlow";
      src: url(../fonts/Barlow-Bold.ttf) format(truetype);
  }
  @font-face {
      font-family: "Cabin";
      src: url(../fonts/Cabin-Bold.ttf) format(truetype);
  }
  @font-face {
      font-family: "Helvetica";
      src: url(../fonts/HelveticaNeueLTPro-BlkCn.otf) format(opentype);
  }
  
  .logo-nav{
  float: left;
  margin-left: 15%;
  }
  
  .navbar>ul{
    margin-left: 50%;
  align-items: center;
  margin-top: -32px;
  }
  
  .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0); /* Transparent */
      padding: 15px 0;
      transition: background-color 0.3s ease; /* Transition pour l'effet de transparence */
      z-index: 1000; /* Priorité haute pour la navbar */
  }
  
  /* Lorsque l'utilisateur défile et que la classe 'scrolled' est active */
  .navbar.scrolled {
      background-color: #cc0605; /* Couleur de fond avec opacité */ 
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajouter une ombre */
  }
  
  
  .navbar>ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux éléments de revenir à la ligne */
  }
  .navbar ul li {
      margin: 0 20px;
  }
  
  .navbar ul li a {
    font-family: "Barlow";
    text-decoration: none;
    color: white;
    font-size: 18px; /* Taille de police par défaut */
    transition: color 0.3s ease, font-size 0.3s ease; /* Transition pour le changement de taille */
  }
  
  .navbar ul li a:hover {
      color: rgba(225, 222, 228, 0.938); /* Changement de couleur au survol */
  }
  
  /* Effet d'opacité lorsqu'on défile */
  body.scrolled .navbar {
      background-color: rgba(255, 255, 255, 0.1); /* Légère opacité quand on scrolle */
  }
  
  
  /* ZOOM 140% */ 
  @media (max-width: 1200px) {
    #home {
      flex-direction: column; /* Les éléments vont s'empiler verticalement */
      text-align: center;
    }
    .navbar ul li a {
        font-size: 16px; /* Réduction de la taille de police */
    }
    .navbar ul li {
      margin: 0 10px; /* Ajuste l'espacement entre les éléments */
    }
    .home-content h1 {
      font-size: 10rem;
    }
  
    .home-content h2 {
     font-size: 1rem;
    }
    .home-button button{
      padding: 12px 12px 12px 12px;
      font-size: 12px;
      border-radius: 50px;
    }
  }
  
  /* ZOOM 180% */ 
  @media (max-width: 900px) {
    .navbar ul li a {
      font-size: 14px; /* Réduction de la taille de police */
  }
  .navbar ul li {
    margin: 0 6px; /* Ajuste l'espacement entre les éléments */
  }
  .home-image img {
    max-width: 45%;
  }
  
  .home-content h1 {
    font-size: 6.1rem;
  }
  
  .home-content h2 {
   font-size: 0.8rem;
  }
  
  .home-button button{
    padding: 5px 5px 5px 5px;
    font-size: 5px ;
    border-radius: 50px;
  }
  
  }
  







  /*FOOTER*/
  footer{
    font-family: 'Cabin';
    margin-top: 25%;
    background: #cc0605;
    color: white;
    position: relative;
    font-size: 16px;
    color: white;
    width: 100%;
    
  }
  footer img{
    width: 250px;
    margin-top: 43px;
  }
  footer iframe{
    height: 250px;
    width: 250px;
    margin-top: 43px;
  }
  footer span{
    margin-top: 25px;
  }
  footer h6{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  footer .col-3{
    padding-left: 35px;
    
  }
  footer a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
  }
  footer a:hover{
    color: #f5871f;
  }
  footer .fa-whatsapp{
    margin-right: 5px;
  }
  .copyright{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    height: 45px;
    background-color: #cc0605;
    padding-top: 15px;
  }
  .footer-container{
    display: flex;
    justify-content: center;
  }
  .social {
    display: flex;
    align-items: center;
    margin-top: 13px;
    padding-left: 5px;
  }
  .social i {
    color: #fff;
    font-size: 17px;
    margin-right: 15px;
  }
  @media only screen and (max-width: 600px) {
    footer .col-3{
     padding-left:0;
  }
  .footer-container{
      flex-direction: column;
  }
  .footer-container .col-3{
      width: 100% !important;
  }
  .copyright {
        font-size: 11px;
    }
  }
     
  
  /* PARTIE FORMAT TELEPHONE */
  
  
  /* ZOOM 260% */ 
  @media (max-width: 600px) {
    .navbar ul li a {
      font-size: 12px; /* Réduction de la taille de police */
  }
  .navbar ul li {
    margin: 0 4px; /* Ajuste l'espacement entre les éléments */
  }
  .home-image img {
    max-width: 40%;
    left:50%;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  
  .home-content h2 {
   font-size: 0.7rem;
  }
  }
  
  /* ZOOM 300% */ 
  @media (max-width: 550px) {
    .navbar ul li a {
      font-size: 7px; /* Réduction de la taille de police */
  }
  .navbar ul li {
    margin: 0 3px; /* Ajuste l'espacement entre les éléments */
  }
  .home-content h1 {
    font-size: 3.5rem;
  }
  
  .home-content h2 {
   font-size: 0.6rem;
  }
  }
  
  /* ZOOM 450% */ 
  @media (max-width: 350px) {
    .navbar ul li a {
      font-size: 5px; /* Réduction de la taille de police */
  }
  .navbar ul li {
    margin: 0 2px; /* Ajuste l'espacement entre les éléments */
  }
  }
  
  @media screen and (max-width: 768px) {
    #home {
      display: flex;
      flex-wrap: wrap;
    }
    
    .home-content {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .home-content h1 {
      font-size: 2rem;
    }
    
    .home-content h2 {
     font-size: 0.4rem;
    }
  }
